/* Colors: */
/* Gray: #F4F7F7 */
/* Light Green: #AACFD0 */
/* Medium Green: #5DA0A2 */
/* Dark Green: #34495E */

/* General styles */
a { 
	text-decoration: none; 
	color: #5DA0A2;
}

/* Stripe.com buttons styles */
.btn:not(.btn-link) {
	box-shadow: 0 3px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	border: 0 !important;
}
.btn:hover, .btn:focus {
	transform: translateY(-1px);
	transition: all .15s ease;
}

/* Typography */
@media (max-width: 600px) { 
	body {
		font-size: 16px; /* Instead of 18px */
	}
}

/* General layout */
.container {
	max-width: 700px;
}
.gradient-bg {
	background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.gradient-bg a:not(.btn-primary) {
	color: inherit;
}
.main {
	margin-bottom: 60px;
}

/* Top nav */
.nav {
	padding: 8px 0;
}
.nav__container {
	display: flex;
	align-items:flex-start;
}
.nav__logo {
	display: inline-block;
	width: 1em;
	height: 1.2em;
	fill: currentColor;
	vertical-align: middle;
	margin: 5px 5px 0 0;
}
.nav__title {
	font-size: 18px;
	margin: 1px auto -1px 0 ;
	line-height: 1.8125;
}
.nav__beta {
	text-transform: uppercase;
}
/* Top nav: narrow phones */
@media (max-width: 359px) {
	.nav__logo {
		height: 1em;
	}
	.nav__title {
		font-size: 16px;
	}
	.nav__btn {
		font-size: 12px;
	}
}
@media (max-width: 400px) { 
	.nav__btn:not(.btn-primary) {
		padding: 6px;
	}
}

/* homepage sections */
.home-section--1 {
	padding-bottom: 3em;
}
.home-section--white p {

}
.home-separator {
	display: block;
	background: transparent;
	transform: scale(-1,1);
	height: 2em;
	margin-top: -2em;
	margin-bottom: 1em;
}
@media (min-width: 600px) {
	.home-section--1 { 
		padding-bottom: 4em;
	}
	.home-separator { 
		height: 3em;
		margin-top: -3em;
	}
}
@media (min-width: 1000px) {
	.home-separator { 
		height: 4em;
		margin-top: -4em;
	}
}
@media (min-width: 1200px) {
	.home-separator { 
		height: 5em;
		margin-top: -5em;
	}
}

/* Embedded chart (preserves aspect ratio irregardless of width) */
.chart {
	margin: 1em -20px;
	padding-bottom: .5em;
}
.chart__aspect-ratio {
	position: relative;
	padding-bottom: 66%;
	width: 100%;
}
.chart__iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media (min-width: 420px) {
	.chart {
		margin: 1em 0;
		padding: .5em;
		box-shadow: 0 3px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	}
}
@media (min-width: 800px) {
	.chart {
		margin: 1em -2em;
		padding: 1em 2em;
		border-radius: 3px;
	}
}

/* Social sharing buttons */
.social {

}
.social__icon {
	width: 1.5em;
	margin-bottom: -5px;
}
.social__btn {
	color: white !important;
}

/* Footer */
.footer {
	padding: 40px 0;
	text-align: center;
}
.footer a {
	text-decoration: underline;
	opacity: .8;
}
.footer a:hover, .footer a:focus {
	opacity: 1;
}