<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}  · {% endif %}{{ site.name }}</title>
	<link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico">

	<style type="text/css">
		{% include all-styles.css %}
	</style>	

	<link rel="alternate" type="application/rss+xml" title="My Blog" href="{{ site.baseurl }}rss.xml">
</head>
<body>
	<nav class="nav gradient-bg">
		<div class="container nav__container">
			<svg class="nav__logo" viewBox="0 0 32 32">
				<title>Upstream logo</title>
				<path d="M16 0l-10 16 10 16 10-16z"></path>
			</svg>
			<h1 class="nav__title"><a href="{{ site.baseurl }}">Upstream <sup class="nav__beta">Beta</sup></a></h1>
			<a href="{{ site.links.docs }}" class="nav__btn btn btn-link">Docs</a>
			<a href="{{ site.links.login }}" class="nav__btn btn btn-link">Log in</a>
			<a href="{{ site.links.signup }}" class="nav__btn btn btn-primary">Sign up</a>
		</div>
	</nav>

	<main id="main" class="main {% unless page.isFluid %}container{% endunless %}">
		{{content}}
	</main>

	{% include footer.html %}

</body>
</html>
